@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #fff7e9;
  --second-bg-color: #ae8a68;
  --text-color: #a97161;
  --main-color: #ca8a46;
  --border-color: #754e43;
  --span-color: #738920;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: #ae8a68;
  backdrop-filter: blur(10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: #754e43;
  border-bottom: 3px solid var(--border-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: #754e43;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

span {
  color: var(--span-color);
}

.logo span {
  color: var(--span-color);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem; 
    font-size: 5rem; 
}

.home_content h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

.home_img {
    border-radius: 50%; 

    
}

.home_img img {
  position: relative; 
  width: 31vw; 
  height: 60rem;
  border-radius: 200%;
  box-shadow: 0 0 25px var(--main-color); 
  cursor: pointer; 

}

.home_content p {
  font-size: 1.8rem; 
  font-weight: 500;
}

.socials-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem; 
  height: 4rem;
  background: transparent; 
  border: 0.2rem solid var(--main-color); 
  font-size: 2rem;
  border-radius: 50%; 
  color: var(--main-color); 
  margin : 2rem 1.5rem 3rem 0;
  transition: 0.3s ease; 
}

.socials-icons a:hover {
  color: white; 
  transform: scale(1.3)translateY(-5px);
  background-color: var(--main-color); 
  box-shadow: 0 0 25px var(--main-color); 
}

.btn {
  display: inline-block; 
  padding: 1rem, 2.8rem; 
  background: var(--bg-color);
  border-radius: 4rem; 
  font-size:1.6rem; 
  color: var(--main-color); 
  border: 2px solid var(--main-color); 
  letter-spacing: 0.1rem;
  font-weight: 600; 
  transition: 0.3s ease; 
  cursor: pointer; 
  padding-left: 1rem;
  padding-right: 1rem; 
}

.btn:hover {
  transform: scale(1.05); 
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}

.text-animation {
  font-size: 34px; 
  font-weight: 600;
  min-width: 280px; 
}

.text-animation span {
  position: relative; 
}

.text-animation span::before{
  content: 'Web Developper'; 
  color: var(--span-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content:''; 
  background-color: var(--bg-color); 
  position: absolute; 
  width: calc(100% + 8px); 
  height: 100%; 
  border-left: 3px solid var(--bg-color); 
  right: -8px; 
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;

}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
      0%, 
      25% {
        content: 'Web Developer';
      }
      26%, 
      51% {
        content : 'Front-End Developer';
      }
      52%,
      77% {
        content : 'Back-End Developer'; 
      }
      78%,
      100% {
        content :'Web Designer'

      }
    
}
@keyframes typing {
  100%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0; 
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px); 

  }

}
  







